a.ani {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  margin: auto;
  img {
    position: absolute;
    &.right {
      right: 0;
    }
    &.pulseRight {
      animation: pulseRight 1s alternate infinite ease-in;
    }
    &.left {
      left: 0;
    }
    &.pulseLeft {
      animation: pulseLeft 1s alternate infinite ease-in;
    }
    &.breakLeft {
     animation: breakLeft 1s forwards; 
    }
    &.breakRight {
     animation: breakRight 1s forwards; 
    }
  }
}

@keyframes pulseLeft {
  0% {
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform-origin-x: 14px;
    -webkit-transform: scale(1.2);
  }
}
@keyframes pulseRight {
  0% {
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform-origin-x: -14px;
    -webkit-transform: scale(1.2);
  }
}

@keyframes breakLeft {
  0% {
  -webkit-transform: translate(0, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate(-11px, 24px) rotate(-22deg);
  }
}

@keyframes breakRight {
  0% {
  -webkit-transform: translate(0, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate(21px, 25px) rotate(43deg);
  }
}