button {
  background: $accent1;
  border:0;
  border-bottom: 4px solid $accent1a;
  color: $white;
  transition: all 0.3s ease;
  @include stylishButton;
  &:hover, &:focus {
    @include undoDefault;
    border-bottom: 0;
  }
  &.plus {
    font-weight: 300;
    position: absolute;
    width: 15%;
    top: 0;
    right: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-left: 0;
  }
}

input[type="text"] {
  border: 2px solid $accent2;
  @include stylishButton;
  text-transform: none;
  font-weight: 400;
  &:hover, &:focus {
    @include undoDefault;
  } 
}
