section {
  padding: 20px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.half {
  width: 50%;
  float: left;
}

#sortable {
  cursor: move;
}

a {
  text-decoration: none;
  color: inherit;
}