section {
  padding: 100px 0;
}

.create, .order, .results {
  padding: 51px 0;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.half {
  width: 50%;
  float: left;
}

#sortable {
  cursor: move;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 330px;
  margin: auto;
  li {
    padding: 5px;
    margin: 5px 0;
    background: $accent2;
  }
}