form {
  width: 330px;
  margin: 20px auto;
  & > div {
    position: relative;
    label {
      position: absolute;
      left: 10px;
      top: 13px;
      z-index: -1;
      transition: all 0.3s ease;
    }
    input {
      background:transparent;
      margin-bottom: 10px;
      &:valid {
        background:white;
        + label {
          color:white;
        }
      }
      &:focus + label {
        top: -27px;
        .create & {
          top: 13px;
          color:white;
        }
      }
    }
  }
}

form.findFight, a.showMakeField {
  display: none;
}

a.showFindField, a.showMakeField {
  @include ps;
  transition: all 0.2s ease;
  &:hover, &:focus {
    color: $black;
  }
}

