form {
  width: 330px;
  margin: 20px auto;
  & > div {
    position: relative;
   label {
      position: absolute;
      left: 12px;
      top: 13px;
      z-index: -1;
      transition: all 0.3s ease;
   }
   input {
      background:transparent;
      margin-bottom: 10px;
    } 
  }
}

.home {
  input:focus + label {
    top: -23px;
  }
  input:valid + label {
    color: white;
  }
}

.create {
  input:focus{
    background: white;
    + label {
      color:transparent;
    }
  }
}

.order {
  input:focus {
    background: white;
    + label {
      color:transparent;
    } 
  }
  input:valid + label {
    color:transparent;
  }
}

form.findFight, a.showMakeField {
  display: none;
}

a.showFindField, a.showMakeField {
  @include ps;
  transition: all 0.2s ease;
  &:hover, &:focus {
    color: $black;
  }
}

