form {
  width: 330px;
  margin: 20px auto;
  & > div {
    position: relative;
    label {
      position: absolute;
      left: 12px;
      top: 13px;
      z-index: -1;
      transition: all 0.3s ease;
      .create & {
        color:$black !important;
      }
    }
    input {
      background:transparent;
      margin-bottom: 10px;
      .create & {
        background: transparent !important;
        transition: all 0.3s ease;
        &:focus {
          background: white !important;
        }
      }
      &:valid {
        background:white;
        + label {
          color:white;
        }
      }
      &:focus + label {
        top: -27px;
        .create & {
          top: 13px;
          color:white;
        }
      }
      .order & {

      }  
    }
  }
}

form.findFight, a.showMakeField {
  display: none;
}

a.showFindField, a.showMakeField {
  @include ps;
  transition: all 0.2s ease;
  &:hover, &:focus {
    color: $black;
  }
}

