@media (max-width: 600px) {
  .wrapper {
    width: 330px;
  }
  .half {
    float: none;
    width: 330px;
  }
}
@media (max-width: 320px) {
  a h1 {
    text-align: center;
  }
  .wrapper {
    width: 310px;
  }
  .half {
    width: 310px;
  }
  .overlay .modal {
    width: 300px;
    padding: 25px;
  }
}