body {
  @include sanslt;
}

h1 {
  @include sansheavy;
  margin: 0;
  background:$black2;
  color:$white;
  padding: 35px 45px;
  transition: padding 0.2s ease;
}

h2 {
  @include sanslt;
  text-transform: uppercase;
  margin-bottom: 34px;
  .modal & {
    border-bottom: 1px solid $accent2a;
    padding-bottom: 15px;
  }
}

h3.sub {
  @include sub;
}

h3 {
  @include sanslt;
  text-transform: uppercase;
}

h3.resultsName {
  width: 330px;
  background: $accent1;
  border-radius: 2px;
  margin: 15px auto;
  padding: 9px;
  color: white;
}

.modal span {
    font-weight: 900;
    text-transform: uppercase;
}

footer ul li {
  font-family: $smsans;
  font-size: 12px;
}

footer h4 {
  font-family: $smsans;
  text-transform: uppercase;
  font-size: 12px;
  color: $grey2;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}