$red1: #e74c3c;
$red2: #c0392b;
$grey1: #ecf0f1;
$grey2: #bdc3c7;
$white: rgb(245, 245, 245);
$black: rgb(55, 57, 58);
$black2: #2c3e50;

$accent1: $red1;
$accent1a: $red2;
$accent2: $grey1;
$accent2a: $grey2;

$helv: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$sans: 'Montserrat', sans-serif;
$smsans: 'Muli', sans-serif;

@mixin sanslt {
  font-family: $sans;
  font-weight: 300;
}   

@mixin sansheavy {
  font-family: $sans;
  font-weight: 700;
}

@mixin ps {
  font-family: $smsans;
  font-size: .8rem;
  color: $accent2a;
}

@mixin bigboys {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin stylishButton {
  @include bigboys;
  padding: 6px 9px;
  border-radius: 2px;
  height: 45px;
  display: block;
  width: 100%;
}

@mixin undoDefault{
  outline: none
}